@import url("//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

::selection {
  color: #fff;
  background: red; 
  /* Default color: #1890ff */
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: black !important;
}

.ant-layout-footer {
  background: #fff !important;
  padding: 15px 50px 10px 50px !important;
  -webkit-box-shadow: inset 0 7px 9px -7px grey;
  box-shadow: inset 0 7px 9px -7px grey;
}

.custom-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#login-form .login-form {
  max-width: 100%;
}
#login-form .login-form-forgot {
  float: right;
}
#login-form .ant-col-rtl .login-form-forgot {
  float: left;
}
#login-form .login-form-button {
  width: 100%;
  border-radius: 7px;
}

#login-form {
  border: 1px solid lightgrey;
  border-radius: 10px;
}

#login-form .ant-btn {
  height: 40px;
}

#login-form .ant-input-affix-wrapper {
  line-height: 2.6;
}

.ant-form-item-explain {
  min-height: 18px !important;
  line-height: 1.3 !important;
}

.ant-form-vertical .ant-form-item {
  margin-bottom: 5px !important;
}

.ant-form-vertical .ant-form-item-label {
  padding: 0 0 0px;
}

[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}

.ant-table-title {
  padding: 8px 8px;
}

.main-full-height {
  height: calc(100vh - 185px);
  overflow: hidden;
}

.body-full-height {
  height: calc(100vh - 300px);
  overflow: auto;
}